:root {
  color-scheme: dark;
  font: 16px/145% ui-monospace, Consolas, monospace;
}

html,
body {
  margin: 0;
  height: 100%;
  background: #000;
}

#root {
  height: 100vh;
  box-sizing: border-box;
}
